//颜色设计
$success: rgb(87, 255, 3);
$warning: rgb(204, 99, 99);
$error: rgb(243, 4, 4);
$default: rgb(129, 180, 243);
$color: #505050;
$primary: rgb(85, 209, 22);
// 按钮hover设计

$success-hover: rgb(90, 213, 28);
$warning-hover: rgb(230, 60, 60);
$error-hover: rgb(255, 0, 0);
$defalut-hover: rgb(183, 196, 209);

// 边框
$border-radius-1: 4px;
$border-radius-2: 5px;
$border: #a4a4a4;

// 背景色
$background-color-1: red;
$background-color-2: red;
$background-color-3: red;

// 字体设计
$font-size-title: 18px;
$font-size: 14px;
